body{
    background: linear-gradient(45deg, rgb(0, 217, 255), rgb(243, 243, 136), rgb(15, 146, 15));
    padding:1em;
}

.header{
    text-align: center;
}

.container{
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows: 1fr;
    column-gap: 1em;
    justify-items: center;
    justify-content: center;
}

form{
    grid-area:1/1/2/2;
}

input{
    border-radius: 0.5em;
    background-color: rgb(245, 245, 118);
}

textarea{
    border-radius: 0.5em;
    background-color: rgb(243, 243, 110);
}

.table{
    grid-area:1/2/2/3;
    justify-items: center;
    text-align: center;
}
